.gltf-node-viewer {

    height: 100%;
    display: flex;
    flex-direction: column;

    .title {

        font-size: 11px;
        height: 35px;
        line-height: 35px;
        color: #bbbbbb;
        padding: 0 8px;
        background-color: rgba(128, 128, 128, 0.2);

    }

    .content {

        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;
        font-size: 13px;

        .node-label:hover {
            background-color: #2a2d2e;
            cursor: pointer;
        }

        .node-label {
            height: 22px;
            line-height: 22px;
            padding-left: 12px;
        }

        .node >.node-label > .node-name:before {
            vertical-align: sub;
            padding-right: 3px;
            font-size: 16px;
            display: inline-block;
            width: 16px;
            height: 16px;
        }

        .indent {
            height: 100%;
            float: left;
            transform: translateX(5px);
        }

        .indent-guide {
            width: 8px;
            height: 100%;
            float: left;
            border-left: 1px solid transparent;
        }

        .indent-guide.active {
            border-color: #585858;
        }

        .node.default >.node-label > .node-name:before {
            content: url(./git-compare.svg);
        }

        .node.expandable >.node-label > .node-name:before {
            content: url(./chevron-right.svg);
        }

        .node.expandable.collapsed >.node-label > .node-name:before {
            transform: rotate(90deg);
        }

        .node-children.hide {
            display: none;
        }

    }

    .content:hover .indent-guide {
        border-color: #39393a;
    }

}