.gltf-node-viewer {

    .title {

        font-size: 11px;
        height: 35px;
        line-height: 35px;
        color: #bbbbbb;
        padding: 0 8px;
        background-color: rgba(128, 128, 128, 0.2);

    }

}