.menu {

    position: absolute;
    z-index: 9;
    background-color: #252526;
    width: 260px;
    padding: 0 11px;
    box-sizing: border-box;

    .menu-item {

        height: 28px;
        line-height: 28px;

        .short-cut {

            float: right;

        }

    }

}