.bg-color-black-1 {

    background-color: #3a3a3a;

}

.border-radius-5 {

    border-radius: 5px;

}

.grid-container.vertical > .grid {

    margin: 0 0 3px 0;

}

.grid-container > .grid {

    margin: 0 3px 0 0;

}

.grid-container > .grid:last-child {

    margin: 0;

}