.top-bar {

    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 13px;
    display: flex;

    .logo {
        padding: 5px 5px 0 5px;
    }

    .menu-wrappers {

        display: flex;

        .menu-wrapper {
            padding: 0 8px;
            cursor: default;
        }

        .menu-wrapper:hover,
        .menu-wrapper.selected  {
            background-color: rgba(255, 255, 255, 0.1);
            .menu-name {
                color: #fff;
            }
        }

    }

    .app-title {
        flex: 1;
        font-weight: normal;
        text-align: center;
        font-size: 12px;
    }

}