@import '../common/colors.less';

.top-bar {

    height: 30px;
    line-height: 30px;
    overflow: hidden;
    font-size: 13px;
    display: flex;
    cursor: pointer;
    background-color: @neutralDark;

    .logo {
        padding: 5px 5px 0 5px;
    }

    .app-title {
        flex: 1;
        font-weight: normal;
        text-align: center;
        font-size: 14px;
    }

    .window-controls-container {

        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: auto;

        [class^="icon-"],
        [class*=" icon-"] {
            font-size: 16px;
            width: 46px;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            text-align: center;
        }

        .window-control:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        .window-control.icon-chrome-close:hover {
            background-color: rgba(232,17,35,.9);
            color: #fff;
        }

    }

}